
<!DOCTYPE html>
<html>
    <head>
    <!-- Hidden login at endpoint:/hidden_login -->
    <!-- secret password: name of hidden place on tellus -->
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>



<div class="section-header">
    <h1>Map of Tellus</h1>
</div>
<img src="/static/tellusMap.svg">

</body>
</html>