<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="section-header">
    <h1>O<span>U</span>R NEWEST WEAPON - The Death Star</h1>
<div class="section">
    <img src="/static/death_star.png">
    <p style="font-size:large;">
        A Death Star <span>i</span>s a moon-sized Imperial Military <span>T</span>actical World-<span>H</span>overing (IMTWB) armed with a planet-destroying superlaser consisting of <span>22</span>lighting geodes.<span>{</span>
        Each death <span>s</span>tar weig<span>h</span>ts 1m<span>i</span>llion tons <span>p</span>r. <span>s_</span>quaremeter.   
        The destruction of <span>a</span> death sta<span>r</span> is v<span>e_</span>ry <span>h</span>ard 
        with limited exp<span>o</span>sed <span>ve</span>nts o<span>r</span> weak po<span>i</span>nts due to it's circle-shaped co<span>n</span>struction. This <span>g_</span>reat weapon will make the empir<span>Endor</span> 
        ruler of the universe forever!!!<span>}</span>
    </p>
</div>
</div>



</body>
</html>